$font-stack:    'Ek Mukta', Helvetica, sans-serif;
$primary-color: #e6e6e6;

/*
############
## Global ##
############
*/


body{
  background: $primary-color;
  margin: 0;
  height: 100%;
  font-family: $font-stack;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container {
    margin: 0 auto;
    width: 1024px;
    text-align: center;
}

/*
################
## Logo Style ##
################
*/

span {
    display: block;
    font-weight: 100;
    line-height: 11px;
    text-align: center;
}


/*
############
## Header ##
############
*/

header {
  background: #ccc;
  margin-bottom: 20px;
  padding: 8px 0 1px;
  width: 100%;
}

nav {
    padding: 5px 40px;
}
a{
  color: #333;
  text-decoration: none;
}
a:hover{
  color: #666;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    align-items:baseline;
}
/*
############
## Search ##
############
*/
input {
    border: 1px solid #fff;
    color: #ccc;
    font-size: 14px;
    padding: 15px;
    text-align: center;
    width: 500px;
}
input:hover {
    border: 1px solid red;
    color: #666;
}
button {
    border: 0 none;
    padding: 10px 0;
    width: 530px;
    border: 1px solid #ed677a;
    background: none;
}
button:hover {
    background: #ed677a;
}

/*
############
## Footer ##
############
*/
footer {
    background: #ccc;
    margin-top: 20px;
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
